button {
    background-color: blueviolet;
    color: aliceblue;
    align-self:center;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    padding: 15px 25px;
    border: none;
}

button:hover {background-color:darkblue}

button:active {
  background-color: darkblue;
  box-shadow: 0 5px #999;
  transform: translateY(4px);
}