button {
    background-color: blueviolet;
    color: aliceblue;
    align-self:center;
    cursor: pointer;
    height: 64px;
    width: 64px;
    font-size: 50px;
    border-radius: 50%;
    box-shadow: 0 9px #999;    
    border: none;
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover {background-color:darkblue}

button:active {
  background-color: darkblue;
  box-shadow: 0 5px #999;
  transform: translateY(4px);
}